
.in-bookmaker-logo, .in-bookmaker-logo-link
{
	/* background must be here, to sass we can't php serial */
    background: url('/gres/images/bookmakerlogos.png?serial=997b87c687') no-repeat 0 100px;
}

.l16{background-position: 0px -147px !important;}
.l18{background-position: 0px -168px !important;}
.l3{background-position: 0px -42px !important;}
.l60{background-position: 0px -336px !important;}
.l76{background-position: 0px -399px !important;}
.l15{background-position: 0px -126px !important;}
.l14{background-position: 0px -105px !important;}
.l24{background-position: 0px -189px !important;}
.l43{background-position: 0px -273px !important;}
.l32{background-position: 0px -252px !important;}
.l2{background-position: 0px -21px !important;}
.l56{background-position: 0px -315px !important;}
.l128{background-position: 0px -462px !important;}
.l75{background-position: 0px -378px !important;}
.l44{background-position: 0px -294px !important;}
.l26{background-position: 0px -210px !important;}
.l1{background-position: 0px 0px !important;}
.l8{background-position: 0px -84px !important;}
.l5{background-position: 0px -63px !important;}
.l27{background-position: 0px -231px !important;}
.l69{background-position: 0px -357px !important;}
.l119{background-position: 0px -420px !important;}
.l120{background-position: 0px -441px !important;}
.l138{background-position: 0px -483px !important;}
.l383{background-position: 0px -525px !important;}
.l376{background-position: 0px -504px !important;}
.l421{background-position: 0px -567px !important;}
.l429{background-position: 0px -588px !important;}
.l417{background-position: 0px -546px !important;}
