.no {
	border-left:none
}

.team-center {
	font-weight:bold;
}

.space {
	min-height:15px;
	height:15px;
}

table.table-main tr.dark th {
	text-align:left;
}

.stats-table-label strong {
	margin-left:10px;
}

.stats-table-container {
	border-bottom:1px solid #656565;
}


.win {
	background-position:0 0;
}

.draw {
	background-position:0 -43px;
}

.loss {
	background-position:0 -43px;
}

td.p1, td.p2, td.p3, td.p4, td.p5, td.p6,
td.q1, td.q2, td.q3, td.q4, td.q5, td.q6,
td.r1, td.r2, td.r3, td.r4
{
	color:#fff;
	border-left:none;
}

td.p1 { background-color:#1EA8EC; }
td.p2 { background-color:#6CBCE5; }
td.p3 { background-color:#7F0029; }
td.p4 { background-color:#B5184C; }
td.p5 { background-color:#B8860B; }
td.p6 { background-color:#DAA520; }

td.q1 { background-color:#004682; }
td.q2 { background-color:#1EA8EC; }
td.q3 { background-color:#7F0029; }
td.q4 { background-color:#C71585; }
td.q5 { background-color:#B8860B; }
td.q6 { background-color:#DAA520; }

td.r1 { background-color:#BD0000; }
td.r2 { background-color:#FF4141; }
td.r3 { background-color:#FF4141; }
td.r4 { background-color:#FF4141; }

td.a1 {
	background-color:#63CB7B;
	color:#fff;
}

.stats-table,
.stats-table2
{
	width:100%;
	border-spacing: 0;
}

.stats-table tr.dark th,
.stats-table2 tr.dark th {
	text-align:left;
	white-space:nowrap;
	padding-right:5px;
	padding-left:5px;
}

.stats-table tr.main th,
.stats-table2 tr.main th {
	white-space:nowrap;
	padding-right:0;
	padding-left:0;
}

.stats-table tr th.col_name,
.stats-table tr td.col_name,
.stats-table2 tr th.col_name,
.stats-table2 tr td.col_name {
	padding-right:8px;
	padding-left:8px;
	text-align:left;
	width:99%;
	min-width:99%;
}

.table-10 tr td.col_name,
.table-10 tr th.col_name
{
	width:50%;
	min-width:50%;
}

.stats-table tr th.col_over,
.stats-table tr td.col_over,
.stats-table tr th.col_under,
.stats-table tr td.col_under {
	padding-right:10px;
	padding-left:10px;
	text-align:center;
}

.stats-table tr td,
.stats-table2 tr td {
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	width:20px;
	min-width:20px;
}

.stats-table th,
.stats-table2 th {
	white-space:nowrap;
}

.stats-table td,
.stats-table2 td {
	width:22px;
	border-top:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
}

.stats-table tbody tr:last-child td,
.stats-table2 tbody tr:last-child td {
	border-bottom:0 none;
}

.stats-table td.form,
.stats-table2 td.form {
	white-space:nowrap;
}

.stats-table th.col_name,
.stats-table2 th.col_name {
	padding-right:10px;
}

.stats-table th.col_name,
.stats-table td.col_name,
.stats-table2 th.col_name,
.stats-table2 td.col_name {
	padding-left:10px;
	text-align:left;
}

table.stats-table a.link-inactive,
table.stats-table2 a.link-inactive {
	text-decoration:underline;
	cursor:default;
}

.team_name_span {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

.team_name_span a{
	text-decoration: none;
	cursor: pointer;
}

.team_name_span a:hover{
	text-decoration: underline;
}

.col_name .team_name_span { vertical-align:middle }
.col_name .team_name_span a { color: #656565 }
.col_name { white-space:nowrap; }

.stats-table tr.main th.under,
.stats-table tr.main th.over,
.stats-table tr.main th.last_5
{
	padding:0 10px;
}

tfoot.no-results-found td {
	border: none;
}

/* first wrapper having relative position */
tfoot.no-results-found td > div {
	width: 0;
	height: 100%;
	position: relative;
}

/* text container */
tfoot.no-results-found td > div > span {
	position: absolute;
	white-space: nowrap;
}

.glib-live-score {
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 2px;
	display: block;
	line-height: 17px;
	height: 17px;
	padding: 0 5px;
	text-align: center;
}

.glib-live-score-lost {
	background-color: #db2a2e;
}

.glib-live-score-win {
	background-color: #15bb16;
}

.glib-live-score-draw {
	background-color: #f5ae3e;
}

.glib-live-score:hover {
	text-decoration: underline;
	cursor: pointer;
}

.glib-live-rank {
	padding-left: 5px;
	line-height: 16px;
}

.glib-live-rank-up {
	color: #00cc00;
}

.glib-live-rank-down {
	color: #cc0000;
}

.glib-live-value {
	color: #cc0000;
}

.col_live_score {
	border-left: none !important;
}

.right_border_remover{
	border-right: none !important;
}
.glib-stats-filter {
	/* style is set in tabfilter.adjustFilterRowCss() */
}

.glib-stats-filter .list-wrapper {
	width: 130px;
	height: 19px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.glib-stats-filter ul {
	display: inline-block;
	line-height: 17px;
	font-size: 100%;
	width: 130px;
	background: black;
	background: rgba(0, 0, 0, 0.85);
	border: 1px solid #222;
	color: white;
	white-space: nowrap;
	cursor: pointer;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	margin: 0;
}

.glib-stats-filter ul:after {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px;
	border-color: white transparent transparent transparent;
	position: absolute;
	right: 3px;
	top: 8px;
	content: "\0020";
}

.glib-stats-filter ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.glib-stats-filter ul::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.glib-stats-filter ul li {
	display: none;
	padding: 0 25px 0 5px;
}

.glib-stats-filter ul.open {
	z-index: 999;
	width: auto;
	min-width: 130px;
	position: absolute;
}

.glib-stats-filter ul.open:after {
	display: none;
}

.os-iphone .glib-stats-filter ul.open li:hover,
.os-ipad .glib-stats-filter ul.open li:hover
{
	background-color: transparent;
}

.glib-stats-filter ul.open li:hover,
.glib-stats-filter ul.open li.selected,
.os-iphone .glib-stats-filter ul.open li:active,
.os-ipad .glib-stats-filter ul.open li:active
{
	background-color: #505050;
}

.glib-stats-filter ul.open li,
.glib-stats-filter ul li.selected {
	display: block;
}

.glib-stats-filter ul:not(.open) li.selected {
	overflow: hidden;
	padding-right: 15px;
	text-overflow: ellipsis;
}

tr.filtered-out {
	display: none;
}
html{
	#overflow:auto;
}
.playoff, #playoff-header {
	width:100%;
	position:relative;
	clear:both;
}

#playoff-header {
	overflow:hidden;
	text-align:center;
	padding:4px 0 6px;
	margin:0;
	color:#fff;
}

#playoff-header ul, #playoff-header ul li {
	list-style:none;
	display:block;
	margin:0;
	padding:0;
	position:relative;
	float:left;
}

.playoff { font-size:0 }
.playoff .viewport {
	overflow:hidden;
	width:100%;
	height:520px;
	position:relative;
}

.playoff .viewport::-webkit-scrollbar
{
	display: none;
}

#playoff-links { display:none; line-height: 12px !important; }
.playoff.default-scroll .viewport { overflow: auto; }

.playoff .overview { display:inline; list-style: none; position: absolute; left: 0; top: 0; padding:0 0 5px 3px; margin: 0; }

.playoff .thumb .end,
.playoff .thumb .hend,
.playoff .scrollbar,
.playoff .hcrollbar {
	position:absolute;
	right:0;
	width: 10px;
	z-index:10000;
	padding:0 !important;
}

.playoff .track, .playoff .htrack {
	background-color: #ccc;
	height:100%;
	overflow:hidden;
	width:10px;
	position: relative;
	border-radius:8px;
	cursor:pointer;
}

.playoff .thumb, .playoff .hthumb {
	height:20px;
	width:10px;
	cursor:pointer;
	overflow:hidden;
	position:absolute;
	top:0;
	padding:0 !important;
	border-radius:8px;
	opacity:0.5
}

.playoff .hcrollbar {
	display:block;
	width:auto;
	left:0;
	top:auto;
	right:10px;
	height:10px;
	bottom:-10px;
}

.playoff .thumb .end, .playoff .thumb .hend { overflow: hidden; height: 5px; width: 10px; }
.playoff .thumb { margin-top:0 }
.playoff .hthumb { height:10px; left:0; margin-top:0 }
.playoff .htrack { width:100%; }
.playoff .thumb:hover, .playoff .hthumb:hover { opacity:1; }
.tooltip { z-index:1000000 !important }
.playoff fieldset{ border:none; margin:0; padding:0 }

.round {
	display:block;
	float:left;
	position:relative;
	padding-top:2px;
}

.unpacked .matches ul li {
	display:table;
	#display:block;
	width:100%;
	font-size:11px;
}

.unpacked .matches ul li, .unpacked .matches tr td {
	border-top:1px solid #e0e0e0;
}

.unpacked .matches table {
	border:1px solid #ccc;
	border-top:none;
}

.unpacked .matches ul li.first, .unpacked .matches tr.first td {
	border-top:none
}

.unpacked .matches li span.row {
	display:table-row;
	#display:block;
}
.unpacked .matches li span.row span {
	display:table-cell;
	#display:block;
}

.matches .matches .date { padding:0 5px }
.matches .matches .name {
	text-align: left;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	padding-left:5px;
}

.matches .name {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.matches .matches li.info {
	text-align: left;
	display:block;
	padding:0 5px;
	width:auto;
}


.matches .matches .presult {
	text-align: center;
	border-right: 0 none;
	padding-left:5px;
	padding-right:5px;
}

.matches .matches .presult.final { width:65px; }

.matches .matches .presult.final.golf { width:30px; }

.playoff-box-result {
	margin:0;
	left:-1px;
	top:100%;
	color: #656565;
	position: absolute;
	z-index:100;
	overflow: visible;
}

.playoff-box-result-inner {
	border-width: 1px;
	border-style: solid;
	border-top-width: 0;
}

.first-round { padding-top:0 }
.match {
	background:#fff;
	position:relative;
	z-index:1;
	font-size:11px;
	border:1px solid #d5d5d5;
	overflow:hidden;
}

.unpacked {
	overflow:visible;
}


.has-events { cursor:pointer }

.participant { display:block; position:relative; vertical-align:middle; overflow:hidden; }
.participant .name { display:block; position:relative }
.participant .name .overlay {
	position:absolute;
	top:0;
}
.participant .name-container {
	display:block;
	overflow:hidden;
}
.participant .name-container .name-line{
	display:block;
	width:1000px;
}

.playoff .enlarged-match {
	width:250px;
}
.enlarged-match .participant, .enlarged-match .participant .name .name-container {
	overflow:visible;
}

.match .away { margin-bottom:0 }
#sportstats .winner { font-weight:bold }

.participant .name .codebook {
	color:#b0b0b0;
	font-weight:normal;
	font-size:10px;
	line-height:10px;
}
.participant .name .codebook.t {
	cursor:help;
}
.participant .score { position:absolute; padding:0 2px 0 4px; right:0; top:0; font-weight:bold; }
.participant .score .s { padding-left:7px; float:right; text-align:right }

.score-final {
	position:absolute;
	right: 0;
	width:65px;
	height:36px;
	display:table;
	text-align:center;
	word-wrap: normal;
	padding:0 5px 0 5px;
}

.score-final.golf {
	width:30px;
}

.score-final .s {
	display:table-cell;
	vertical-align:middle;
}

.cleaner{ clear:both;display:block; font-size:0 !important; height:0 !important; padding:0 !important }
.matches .matches { display:none; visibility:hidden; z-index:-111 }
.unpacked .matches { display:block; visibility:visible }

.playoff .unpacked .matches table {
	border-collapse:collapse;
}
.playoff .unpacked .matches tr td {
	padding:0;
	margin:0;
	width:auto;
	border-left:1px solid #e0e0e0;
	text-align:left;
}
.playoff .unpacked .matches tr td span, .playoff .unpacked .matches tr td span a {
	padding:0;
	margin:0;
	border:none;
}
.playoff .unpacked .matches tr td span {
	padding:0 4px;
}
.spacer { border-right: none; display:block; line-height:1px }

.separator { display:block; width:100%; clear:both }

.relation {
	width:100%;
	position:relative;
	right:0;
	top:0;
	height:100%;
	font-size:0;
	display:block;
}

.relation .h, .relation .vt, .relation .vb {
	display:block;
	line-height:0;
	font-size:0;
	background:#ccc;
	position:absolute;
}

.relation .h, .relation .vt, .relation .vb, .relation .m, .relation .t, .relation .b {
	z-index:0;
}

.relation .vt, .relation .vb { height:50%  }
.relation .m { top:50%; right:0 !important; margin-bottom:50%; _background:none; _border-bottom:1px solid #ccc; margin-top:-1px; }
.relation .t { _background:none; _border-top:1px solid #ccc }
.relation .b { _background:none; _border-bottom:1px solid #ccc; }
.nb { border:none; background:none }

.default-scroll .overview {
	position:relative;
	display:block;
}

.default-scroll .viewport {
	height:auto;
	overflow:auto;
}

.relation .at, .relation .ab {
	top:auto; bottom:auto;
	margin:0;
}


/* IE <= 7 FLAG FIX */
.participant .flag { #display:block; #float:left; #padding-right:3px; #margin-top:1px; }

.glib-stats-content .stats-table .player_name .team_name_span a{
	color: #000;
	cursor: default;
}

.glib-stats-content{
	display: flex !important;
	display: -webkit-flex !important;
	flex-direction: column;
	overflow-x: hidden;
	margin-bottom: 1rem;
	position: relative;
}
.glib-stats-content .stats-shared-menu{
	overflow: hidden;
}
.glib-stats-content .stats-shared-menu .ifmenu,
.glib-stats-content .stats-shared-menu .submenu-container
{
	overflow-x: auto;
	overflow-y: hidden;
	display: block;
}
.glib-stats-data{
	display: flex !important;
	display: -webkit-flex !important;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
.glib-stats-data .box{
	display: none !important;
}
.glib-stats-data .box.selected{
	 display: flex !important;
	flex-direction: column;
 }

.glib-stats-data.shadowed-r:after{
	display: block;
	content: "";
	width: 2.1875rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	z-index: 3;
	-webkit-box-shadow: 0 0 3.125rem rgba(61,76,91,.5);
	-moz-box-shadow: 0 0 3.125rem rgba(61,76,91,.5);
	box-shadow: 0 0 3.125rem rgba(61,76,91,.5);
}
.glib-stats-data.shadowed-l:before{
	display: block;
	content: "";
	width: 2.1875rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -2.1875rem;
	z-index: 3;
	-webkit-box-shadow: 0 0 3.125rem rgba(61,76,91,.5);
	-moz-box-shadow: 0 0 3.125rem rgba(61,76,91,.5);
	box-shadow: 0 0 3.125rem rgba(61,76,91,.5);
}
.glib-stats-data tr:hover td{
	background-color: #f8f9fa;
}
.glib-stats-box-draw{
	overflow: hidden !important;
	display: flex;
	display: -webkit-flex !important;
	flex-direction: column;
	padding: 0 !important;
	position: static !important;
	flex-shrink: 0;
	transition: 0.5s;
}
.glib-stats-data > .box{
	overflow: auto;
}
.glib-stats-data .table-incidents{
	background: #f8f9fa;
	padding: 0.5rem 0.625rem;
	margin-top: 0.9375rem;
	margin-bottom: 0.9375rem;
	border: 0.0625rem solid #dee4ea;
	line-height: 1.625rem;
	-webkit-border-radius: 0.125rem;
	-moz-border-radius: 0.125rem;
	border-radius: 0.125rem;
	color: #263238;
}
.glib-stats-data .table-incidents ul{
	list-style-type: disc;
	padding-left: 16px;
}
/* exception for box-overall due to menu inside */
.glib-stats-data > .glib-stats-box-overall{
	overflow: hidden;
}
.glib-stats-data > .glib-stats-filter{
	overflow: hidden;
}
.glib-stats-data #box-table-type-10{
	overflow-x: hidden;
	overflow-y: visible;
}
.glib-stats-data #box-table-type-10 .stats-table-container{
	overflow: auto;
}
.glib-stats-data > .box > div{
	overflow: auto;
}
.stats-table.table-10 tr th.player_name,
.stats-table.table-10 tr td.player_name{
	width: 50%;
}
/* -------------------------------------------- */


.viewport-wrap{
	display: flex !important;
	display: -webkit-flex !important;
	width: 100%;
}
.viewport{
	display: flex !important;
	display: -webkit-flex !important;
	//width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
}
.playoff .overview{
	display: flex !important;
	display: -webkit-flex !important;
	flex-direction: row;
	padding: 0 !important;
	position: static !important;
	flex-shrink: 0;
}
.playoff .round{
	float: none !important;
	position: static !important;
	width: 13rem;
	padding: 0.625rem 0;
}

.playoff-scroll-buttons{
	display: block !important;
	position: relative;
}
.be-scroll-button{
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	z-index: 10;
	border-radius: 50%;
	cursor: pointer;
	background: url("/res/styles/img/backgrounds/arrow-white.png") no-repeat 0 0 rgba(0, 0, 0, 0.5);
	background-size: 1.25rem;
	background-position: 50%;
	display: none;
}
.be-scroll-button-right:after{
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: 25%;
	right: 33%;
}
.be-scroll-button-left:after{
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: 25%;
	left: 33%;
}
.be-scroll-button-left{
	left: 0.1875rem;
	box-shadow: rgba(51, 51, 51, 0.1) -2px -2px 2px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
 .be-scroll-button-right{
	 right: 0.1875rem;
	 box-shadow: rgba(51, 51, 51, 0.1) -2px 2px 2px;
 }

.glib-stats-content .submenu{
	font-size: 0.75rem;
	margin: 0;
	overflow: visible;
	padding: 0;
}

.glib-stats-content .submenu .hidden{
	display: none;
}
.glib-stats-content .stats-table tr.hidden{
	display: none;
}

.no
{
	border-left:none;
}

.team-center
{
	font-weight:bold;
}

.space
{
	height: 0.9375rem;
	min-height: 0.9375rem;
}

table.table-main tr.dark th
{
	text-align:left;
}

.stats-table-label strong
{
	margin-left: 0.625rem;
}

.win
{
	background-position:0 0;
}

.draw
{
	background-position:0 -43px;
}

.loss
{
	background-position:0 -43px;
}


tr td.p1, td.p2, td.p3, td.p4, td.p5, td.p6,
td.q1, td.q2, td.q3, td.q4, td.q5, td.q6,
td.r1, td.r2, td.r3, td.r4
{
	color:#fff;
	border-left:none;
}

.stats-table .player_name .flag,
.stats-table .participant_name .team-logo{
	display: inline-block;
	width: 1.333rem;
	height: 1rem;
	vertical-align: middle;
	margin-right: 0.3125rem;
}

.stats-table .player_name .flag{
	background-position: 50%;
	background-size: auto 1rem;
}

.stats-table .participant_name a{
	vertical-align: middle;
}

.stats-table .form-bg{
	float:left;
	width: 1.1875rem;
	height: 1.1875rem;
	margin-right: 0.3125rem;
}

.stats-table .form-bg
{
	text-decoration: none !important;
	border-radius: 0.125rem;
	line-height: 1.1875rem;
	text-align: center;
	font-size: 0.7rem;
	position: relative;
	overflow: hidden;
	font-weight: bold;
	cursor: pointer;
}

.stats-table td.last_5 a
{
	text-decoration: none !important;
}

.stats-table .form-s
{
	background-color: #90a4ae;
}
.stats-table .form-s:after
{
	color: #fff;
	content: "?";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.stats-table .form-w,
.stats-table .form-wo,
.stats-table .form-over
{
	background-color: #00c853;
}

.stats-table .form-l,
.stats-table .form-lo,
.stats-table .form-under
{
	background-color: #d50000;
}

.stats-table .form-d
{
	background-color: #ffb300;
}

.stats-table .form-d:before
{
	color: #fff;
	content: "D";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.stats-table .form-wo:before
{
	background-color: #00c853;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1.1875rem solid #ffb300;
	border-top: 1.1875rem solid transparent;
}
.stats-table .form-w:after,
.stats-table .form-wo:after,
.stats-table .form-over:after
{
	color: #fff;
	content: "W";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.stats-table .form-over:after
{
	color: #fff;
	content: "+";
	font-size: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.stats-table .form-lo:before
{
	background-color: #d50000;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1.1875rem solid #ffb300;
	border-top: 1.1875rem solid transparent;
}
.stats-table .form-l:after,
.stats-table .form-lo:after,
.stats-table .form-under:after
{
	color: #fff;
	content: "L";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.stats-table .form-under:after
{
	color: #fff;
	content: "-";
	font-size: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.stats-table td.col_name a
{
	text-decoration: none;
}

table.stats-table tr td.form
{
	margin:0 !important;
	padding:0 0.1875rem !important;
	text-align:left !important;
}

table.stats-table tr td.form div
{
	margin:0 !important;
	padding:0;
}

table.stats-table tr td.form.col_form, table.stats-table tr td.col_last_5
{
	padding-right:0 !important;
}

td.p1
{
	background-color:#1EA8EC !important;
}

td.p2
{
	background-color:#6CBCE5 !important;
}

td.p3
{
	background-color:#7F0029 !important;
}

td.p4
{
	background-color:#B5184C !important;
}

td.p5
{
	background-color:#B8860B !important;
}

td.p6
{
	background-color:#DAA520 !important;
}

td.q1
{
	background-color:#1EA8EC !important;

}

td.q2
{
	background-color:#6CBCE5 !important;
}

td.q3
{
	background-color:#7F0029 !important;
}

td.q4
{
	background-color:#C71585 !important;
}

td.q5
{
	background-color:#B8860B !important;
}

td.q6
{
	background-color:#DAA520 !important;
}

td.r1
{
	background-color:#BD0000 !important;
}

td.r2
{
	background-color:#FF4141 !important;
}

td.r3
{
	background-color:#FF4141 !important;
}

td.r4
{
	background-color:#FF4141 !important;
}

td.a1
{
	color:#fff !important;
	background-color:#63CB7B !important;
}

.stats-table,
.stats-table2
{
	width:100%;
	border-collapse: separate;
	border-spacing: 0;
}

.stats-table tr.dark th,
.stats-table2 tr.dark th
{
	padding-right: 0.3125rem;
	padding-left:0.3125rem;
	text-align:left;
	white-space:nowrap;
}

.stats-table tr.main th,
.stats-table2 tr.main th
{
	padding-right:0;
	padding-left:0;
	white-space:nowrap;
}

.stats-table tr th.col_name,
.stats-table tr td.col_name,
.stats-table2 tr th.col_name,
.stats-table2 tr td.col_name
{
	width:99%;
	min-width:30%;
	padding-right:0.5rem;
	padding-left:0.5rem;
	text-align:left !important;
}

.stats-table tr th.col_over,
.stats-table tr td.col_over,
.stats-table tr th.col_under,
.stats-table tr td.col_under
{
	padding:0 0.625rem;
	text-align:center;
}

.stats-table tr td,
.stats-table2 tr td
{
	width: 0.9375rem;
	min-width: 0.9375rem !important;
	padding-right: 0.3125rem;
	padding-left: 0.3125rem;
	text-align:center;
}

.stats-table2 th
{
	height: 0.25rem;
	padding:0;
	white-space:nowrap;
	border-left:0 none;
	background: #C0C0C0;
	font-weight:normal;
}

.stats-table td.form,
.stats-table2 td.form
{
	white-space:nowrap;
}

.stats-table th.col_name,
.stats-table2 th.col_name
{
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	text-align:left;
}

.stats-table td.col_name,
.stats-table2 td.col_name
{
	padding-left: 0.625rem;
	text-align:left;
}

table.stats-table a.link-inactive,
table.stats-table2 a.link-inactive
{
	cursor:default;
	text-decoration:underline;
}

.team_name_span
{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

a .team_name_span
{
	overflow:visible;
}

.col_name .team_name_span
{
	vertical-align: middle;
}

.col_name
{
	white-space:nowrap;
}

.stats-table tr.main th.under,
.stats-table tr.main th.over,
.stats-table tr.main th.last_5
{
	padding:0 0.625rem;
}

table.table-main tr.dark th
{
	text-align:center !important;
	color:#FFFFFF;
	border-right:medium none;
	border-left:medium none;
	background:url("/res/img/day-bg.gif") repeat-x scroll center bottom #234460;
	line-height: 1.2rem;
}

.preload
{
	background-image: url(../img/backgrounds/preloader.gif);
	background-repeat: no-repeat;
	background-position: center 1.875rem;
	height: 7.75rem;
	width: 100%;
}

.preload span
{
	display: none;
}

.highlight_hover, tr.highlight_hover td
{
	background-color:#fbf6d9 !important;
}

.p1, tr.highlight_hover .p1
{
	color:#fff;
	background-color:#1EA8EC !important;
}

.p2, tr.highlight_hover .p2
{
	color:#fff;
	background-color:#6CBCE5 !important;
}

.p3, tr.highlight_hover .p3
{
	color:#fff;
	background-color:#7F0029 !important;
}

.p4, tr.highlight_hover .p4
{
	color:#fff;
	background-color:#B5184C !important;
}

.p5, tr.highlight_hover .p5
{
	color:#fff;
	background-color:#B8860B !important;
}

.p6, tr.highlight_hover .p6
{
	color:#fff;
	background-color:#DAA520 !important;
}

.q1, tr.highlight_hover .q1
{
	color:#fff;
	background-color:#1EA8EC !important;
}

.q2, tr.highlight_hover .q2
{
	color:#fff;
	background-color:#6CBCE5 !important;
}

.q3, tr.highlight_hover .q3
{
	color:#fff;
	background-color:#7F0029 !important;
}

.q4, tr.highlight_hover .q4
{
	color:#fff;
	background-color:#B5184C !important;
}

.q5, tr.highlight_hover .q5
{
	color:#fff;
	background-color:#B8860B !important;
}

.q6, tr.highlight_hover .q6
{
	color:#fff;
	background-color:#DAA520 !important;
}

.r1, tr.highlight_hover .r1
{
	color:#fff;
	background-color:#BD0000 !important;
}

.r2, tr.highlight_hover .r2
{
	color:#fff;
	background-color:#FF4141 !important;
}

.r3, tr.highlight_hover .r3
{
	color:#fff;
	background-color:#FF4141 !important;
}

.r4, tr.highlight_hover .r4
{
	color:#fff;
	background-color:#FF4141 !important;
}

.a1
{
	color:#fff;
	background-color:#63cb7b !important;
}

.stats-table tr.highlight td
{
	background-color: #fff4d4;
}

.team-center
{
	font-weight:bold;
}


table tr.dark th
{
	text-align:left !important;
}

.stats-table tr td
{
	min-width: 0.75rem !important;
	padding-right: 0.625rem !important;
	padding-left: 0.625rem !important;
	text-align: center !important;
}

.stats-table tr td.col_name
{
	padding-left: 0.5rem !important;
}

.stats-table2 tr td
{
	min-width:  0.9375rem !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
	text-align:center !important;
}

.stats-table tr th.col_name
{
	width:99%;
	padding-right: 0.625rem !important;
	padding-left: 0.625rem !important;
	text-align:left !important;
}

.stats-table tr td.goals
{
	/*color:#A0A0A0;*/
}

table.stats-table tr th.col_goals
{
	padding-right: 0.3125rem !important;
	padding-left:0.3125rem !important;
}

table.stats-table tr th.col_form
{
	padding-right: 0.3125rem !important;
	padding-left: 0.3125rem !important;
}

table.stats-table tr td.form
{
	margin:0 !important;
	padding:0 0.1875rem!important;
	text-align:left !important;
}

table.stats-table a.link-inactive
{
	cursor:default;
	text-decoration:underline !important;
	color:#000 !important;
}

table.stats-table a:hover.link-inactive
{
	cursor:default;
	text-decoration:underline !important;
	color:#000 !important;
}

.form-bg
{
	float:left;
	width: 1.25rem;
	height: 1.0625rem;
}

.form-bg-last
{
	float:left;
	width: 1.0625rem;
	height: 1.0625rem;
}

.form a
{
	text-decoration:none !important;
}

.form a:hover
{
	text-decoration:none !important;
}

.stats-incident
{
	margin:0.625rem 0 0 0;
	padding:0.625rem;
	background-color:#f2f2f2;
}

.stats-incident li
{
	margin-left: 0.5rem;
	padding-bottom: 0.125rem;
	list-style-type:square;
	font-family:Tahoma, Arial, sans-serif;
	font-size:100%;
}



.playoff .spacer
{
	height: 3.875rem;
}

.spacer
{
	width: 10.325rem;
}

.relation .m
{
	right: -1.25rem !important;
}

.relation .h
{
	width: 0.625rem;
}

.relation .b, .relation .m, .relation .t
{
	height: 0.0625rem;
}
.relation .vt, .relation .vb
{
	width: 0.0625rem;
}


.relation .h, .relation .vt, .relation .vb
{
	right: -0.625rem;
}

.relation .t, .relation .vt
{
	top: 1.9375rem;
}

.relation .b, .relation .vb
{
	bottom: 1.9375rem;
}

.playoff .mid
{
	height: 0.5rem;
}

.playoff .con
{
	height: 1rem;
}

.playoff .half
{
	height: 2rem;
}
.playoff .full
{
	height: 4rem;
}
.playoff .double
{
	height: 8rem;
}

.playoff .quad
{
	height: 16rem;
}

.playoff .oct
{
	height: 32rem;
}

#playoff-header
{
	overflow: visible;
	padding: 0;
}

#playoff-env
{
	padding: 0.125rem 0 0;
	overflow-x: hidden;
}

#playoff-header ul li.last-round, .last-round
{
	width: 10.9375rem;
}

.ifmenu.bubble
{
	position:relative;
	float:left;
	clear:both;
	height:auto;
	margin:0.5rem 0 -0.3125rem 0;
	padding:0;
	list-style:none outside none;
	border-bottom:0 none;
}

.ifmenu.bubble li.bubble
{
	position:static;
	float:left;
	height: 1.5rem;
	margin-top: 0.0625rem;
	margin-right: 0.0625rem;
	margin-bottom:0;
	list-style:none outside none;
	border:medium none;
	background:#9C9C9C url('/res/img/bg-bookmark-bubble.png') no-repeat 0 -800px;
}

.ifmenu.bubble li.bubble span
{
	display:block;
	height:100%;
	background:url("/res/img/bg-bookmark-bubble.png") no-repeat scroll 100% -850px transparent;
}

.ifmenu.bubble li a, .ifmenu.bubble li strong
{
	position:relative;
	display:block;
	padding:0 0.625rem;
	cursor:pointer;
	text-align:center;
	text-decoration:none !important;
	color:#FFFFFF;
	font-weight:normal;
	line-height: 1.5rem;
}

#content .ifmenu.bubble a, .ifmenu.bubble li strong
{
	text-decoration:none !important;
	color:#FFFFFF;
}

#content .ifmenu.bubble a:hover, .ifmenu.bubble li strong:hover
{
	text-decoration:underline !important;
}

.ifmenu.bubble .selected.bubble
{
	position: relative;
	background-position:0 -200px;
}

.ifmenu.bubble .selected.bubble span
{
    background-position: 100% -250px;
}

.ifmenu.bubble .selected
{
	background-color: #016700;
}

#content .stats-shared-menu li.selected strong.x3, strong.x3
{
	display:none;
}

.spacer-block
{
    height: 0.625rem;
    font-size: 0;
    line-height: 0.625rem;
}

.stats-table td.col_form div.no-upcoming-match.matches-5,
.stats-table td.col_last_5 div.no-upcoming-match.matches-5
{
	display: flex;
	flex-direction: row;
}

.stats-table td.col_form div.matches-5,
.stats-table td.col_last_5 div.matches-5
{
	display: flex;
	flex-direction: row;
}


.playoff-box-result
{
    width: 10.9375rem;
}

.glib-stats-filter
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.0625rem 0 !important;
	padding: 0.25rem 0.625rem 0 !important;
	min-height: 2.125rem;
	white-space: nowrap;
	font-size: 0;
	position: relative;
	background: #dee4ea !important;
	border-radius: 0.125rem;
}

.glib-stats-filter ul {
	padding: 0;
	margin: 0.3125rem 0 0;
	list-style: none;
	height: 1.625rem;
	overflow: hidden;
	border-radius: 0.125rem;
	border: 0.0625rem solid #fff;
	background: #fff;
	-webkit-transition-property: border-color,box-shadow;
	-moz-transition-property: border-color,box-shadow;
	-o-transition-property: border-color,box-shadow;
	transition-property: border-color,box-shadow;
	-moz-transition-duration: 250ms;
	transition-duration: 250ms;
	transition-timing-function: ease;
	z-index: 248;
	position: relative;
	cursor: pointer;
	display: block;
	width: auto;
 }
.glib-stats-filter ul.open
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-width: 100%;
	max-height: 25rem;
	height: auto;
	overflow: auto;
	overflow-x: hidden;
	-webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,.35);
	-moz-box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,.35);
	box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,.35);
	border-color: #FB8C00;
	z-index: 300;
}

.glib-stats-filter ul:before{
	display: block;
	content: "";
	position: absolute;
	right: 0.625rem;
	top: 0.6875rem;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-property: transform;
	-moz-transition-duration: 250ms;
	transition-duration: 250ms;
	transition-timing-function: ease;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.25rem 0.1875rem 0;
	border-color: #263238 transparent transparent;
}

.glib-stats-filter ul li{
	padding: 0 0.625rem;
	font-size: 0.75rem;
	line-height: 1.5rem;
	font-family: "Open sans",Arial,Helvetica,sans-serif;
	font-weight: 400;
	color: #263238;
	z-index: 249;
	display: none;
}

.glib-stats-filter ul.open li,
.glib-stats-filter ul li.selected{
	display: list-item;
}

.glib-stats-filter ul li:first-child{
	padding-right: 2.1875rem;
	color: #78909c;
	white-space: nowrap;
}

.glib-stats-filter ul li.selected{
	color: #78909c;
}

.glib-stats-filter ul.open li:first-child{
	border: 0;
	white-space: normal;
	color: #263238;
	background: #f8f9fa;
	font-weight: 700;
}

.glib-stats-filter ul.open li:hover, .glib-stats-filter ul.open li.selected {
	background: #f8f9fa;
}

.glib-stats-filter ul::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

.glib-stats-filter .list-wrapper
{
	display: inline-block;
	padding: 0;
	margin: -0.3125rem 0.625rem 0 0;
	list-style: none;
	width: 10.3125rem;
	position: relative;
	height: 2.1875rem;
}

.glib-stats-filter .list-wrapper:after
{
	content: "";
	width: 1rem;
	height: 0.25rem;
	display: inline-block;
}

tr.filtered-out {
	display: none;
}

.glib-stats-box-draw .matches{
	font-size: 0.75rem;
	vertical-align: middle;
	width: 11.75rem;
	margin: 0 0.625rem;
	padding: 0;
	list-style: none;
}

.glib-stats-box-draw .matches:first-child{
	 margin-top: 0 !important;
 }

.glib-stats-box-draw .matches .match{
	width: 100%;
	-moz-transition-duration: 250ms;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-webkit-transition-property: background;
	-moz-transition-property: background;
	-o-transition-property: background;
	position: relative;
	-webkit-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	vertical-align: middle;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 0.0625rem solid #CFD8DC;
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: ease;
	font-size: 0.75rem;
}

.glib-stats-box-draw .matches .match.highlight{
	background: #fff4d4;
}

.glib-stats-box-draw .matches .unpacked.match,
.unpacked .playoff-box-result-inner{

	border-color: #b71c1c !important;
}

.glib-stats-box-draw .matches .match .participant{
	display: flex;
	flex-direction: row;
	min-height: 1.9375rem;
	padding: 0.125rem 0.625rem 0.1875rem;
}
.glib-stats-box-draw .participant.highlight{
	background: #ffe7aa;
	opacity: 1;
}


.glib-stats-box-draw .has-events .participant .name{
}

.glib-stats-box-draw .participant.winner .name{
	color: #263238;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

.glib-stats-box-draw .participant .name{
	display: inline-block;
	width: 100% !important;
	text-align: left;
	color: #78909c;
	padding: 0.1875rem 0.125rem 0.1875rem 0;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: ease;
	vertical-align: middle;
	line-height: 1.2rem;
	order: 1;
}
.glib-stats-box-draw .unpacked .participant .name,
.glib-stats-box-draw .unpacked .participant .score{
	color: #fff !important;
}
.glib-stats-box-draw .matches .match{
	opacity: 0.6;
	background-color: rgb(241, 243, 245);
}
.glib-stats-box-draw .matches .match.has-events{
	opacity: 1;
}

.glib-stats-box-draw .match-detail-link:hover{
	text-decoration: underline;
}

.glib-stats-box-draw .participant.winner .name,
.glib-stats-box-draw .participant.winner .score{
	color: #565f64;
	font-weight: bold;
}


.glib-stats-content .relation .unpacked .participant{
	background: #b71c1c;
	border-color: #b71c1c;
}

.glib-stats-box-draw .participant .team-logo{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: -2px 8px -5px 0;
}
.glib-stats-box-draw .participant .score{
	position: static;
	padding: 0.1875rem 0 0.1875rem 0;
	display: flex;
	width: 3rem;
	justify-content: flex-end;
	line-height: 1.2rem;
	font-weight: normal;
	order: 2;
	color: #78909c;
}
.glib-stats-box-draw .participant .score .s{
	padding: 0 0 0 0.3125rem;
}

.glib-stats-filter ul:after
{
	top: 10px !important;
}

.glib-stats-filter ul:not(.open) li.selected
{
	font-weight:700;
}

.glib-stats
{
	min-height: 21.875rem;
}

.StandingsBlock
{  	min-height: 12.5rem;
}

.stats-table-container
{
	border-bottom: 0.0625rem solid #f1f3f5;
}

.stats-table-container + .static-info-text
{
	border-top: 1px solid #CFD8DC;
	margin-top: -1px;
}

.stats-table-container td.highlight-light, .stats-table-container tr.even td.highlight-light, .stats-table-container tr.odd td.highlight-light
{
	background-color:#C4C4C4;
}

.stats-table-container td
{
	line-height:140% !important;
}

.stats-table-container .participant_name a, .stats-table-container .participant_name a span
{
	margin:0;
	padding:0;
	line-height: 1.0625rem !important;
	display:inline-block;
}

.stats-table-container .participant_name a span
{
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	width: auto !important;
	margin-left: -30px;
	padding-left: 30px;
}
.stats-table-container a .team_name_span:hover,
.stats-table-container .team_name_span a:hover
{
	text-decoration: underline;
}

.col_name .team_name_span a
{
	color: #b71c1c;
}

.glib-stats-content .submenu {
	display: none;
}
.glib-stats-content .submenu.selected {
	display: block;
}

.stats-table th{
	color: #78909c;
	font-family: "Open sans",Arial,Helvetica,sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	background: #f1f3f5;
}

.stats-table th, .stats-table td
{
	height: 1.9375rem;
	padding: 0.4375rem 0.625rem;
	vertical-align: middle;
	line-height: 1.2;
	border-bottom: 0.0625rem solid #f1f3f5;
}

.stats-table td
{
	border-top: 0;
	border-right: 0;
}

.stats-shared-menu ul {
	padding: 0;
	list-style-type: none;
	display: inline-block;
	margin: 0 0 0.3rem;
	position: relative;
	border-bottom: 0.0625rem solid #CFD8DC;
	white-space: nowrap;
}

.stats-shared-menu ul li {
	 display: inline-block;
	 vertical-align: middle;
 }
.stats-shared-menu ul li.selected{
	display: inline-block;
	vertical-align: middle;
}
.stats-shared-menu ul li span strong,
.stats-shared-menu ul a{
	display: block;
	line-height: 1.875rem;
	padding: 0 1.25rem;
	position: relative;
	bottom: -0.0625rem;
	font-size: 0.75rem;
	color: #263238;
	text-decoration: none;
	background-color: #F1F3F5;
	border: 0.0625rem solid #CFD8DC;
	border-left: 0;
	-webkit-transition-property: background;
	-moz-transition-property: background;
	-o-transition-property: background;
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: ease;
}
@media screen and (max-width: 39.9375em) {
  .stats-shared-menu ul a {
    padding: 0 0.8rem;
  }
}

.stats-shared-menu ul span strong:before,
.stats-shared-menu ul span a:before{
	content: "";
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition-property: opacity,visibility;
	-moz-transition-property: opacity,visibility;
	-o-transition-property: opacity,visibility;
	transition-property: opacity,visibility;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	transition-timing-function: ease;
	top: -0.0625rem;
	left: -0.0625rem;
	right: -0.0625rem;
	height: 0.1875rem;
	background-color: #FFB300;
}
.stats-shared-menu ul li.selected span strong:before,
.stats-shared-menu ul li.selected span a:before{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	visibility: visible;
}

.stats-shared-menu ul li.selected span strong,
.stats-shared-menu ul li.selected a{
	background: #fff;
	border-bottom: 0.0625rem solid #fff;
}

.stats-shared-menu ul li:first-child span strong,
.stats-shared-menu ul li:first-child span a{
	border-left: 0.0625rem solid #CFD8DC;
}

.playoff-scroll-buttons .scroll-box{
	display: none !important;
	flex-direction: row;

}

.playoff-scroll-buttons a {
    color: #fff !important;
    font-weight: bold;
    cursor: pointer;
    margin: 2px 0 0 0;
    visibility: visible !important;
}

.playoff-scroll-buttons a.scroll-left {
    float: left;
}

.playoff-scroll-buttons a.scroll-right {	
    float: right;
}

.playoff-scroll-buttons a:link,
.playoff-scroll-buttons a:visited {
    text-decoration: none;
}

.playoff-scroll-buttons a:hover,
.playoff-scroll-buttons a:focus,
.playoff-scroll-buttons a:active {
    text-decoration: underline;
}

.playoff-scroll-buttons a.scroll-text-inactive {
    visibility: hidden;
}

#playoff-header ul.list{
	width: auto !important;
	display: flex;
	flex-direction: row;
}

#playoff-header ul.list li{
	font-size: 0.75rem;
	vertical-align: middle;
	display: inline-block;
	width: 13rem;
	padding-right: 1.25rem;
	height: 2rem;
	line-height: 2rem;
	color: #78909c;
	font-family: "Open sans",Arial,Helvetica,sans-serif;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background: #f1f3f5;
}

.playoff-box-result ul {
	margin: 0;
	padding: 0;
}

.playoff-box-result .odd {
    background-color: #fff !important;
    padding: 0.25rem 0;
}

.playoff-box-result .even {
    background-color: #f5f5f5 !important;
    padding: 0.25rem 0;
}

.playoff-box-result-inner {
    border-color: #cccccc !important;
}

.playoff .matches .matches{
    margin: 0;
}

.playoff .matches .matches .date {
    width: 2.5rem;
}

.playoff .matches .matches .name {
    max-width:100%;
}

.playoff .matches .matches .presult {
    margin-left: auto;
}

.playoff-box-result-inner{
	display: flex !important;
	flex-direction: column;
}

.playoff-box-result-inner li{
	display: flex !important;
	flex-direction: row;
	align-items: center;
	padding: 0 0.3125rem;
	height: 2rem;
	vertical-align: middle;
	color: #263238;
	font-size: 0.75rem;
	border-bottom: 0.0625rem solid #CFD8DC;
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

.playoff-box-result-inner li span.row{
	display: flex !important;
	flex-grow: 1;
	width: 186px;
}

.playoff-box-result-inner li span span{
	border: none !important;
	display: inline-block;
}

.playoff-box-result-inner li span span a{
	text-decoration: none;
}

.playoff-box-result-inner li span span.date,
.playoff-box-result-inner li span span.presult{
	width: auto !important;
}
.unpacked .matches ul li{
	border-top: none;
}

.has-events:hover {
	background: #f5f5f5;
}

.nodata-block {
	padding: 0.6875rem !important;
	text-align: center !important;
	background: #ECECEC;
	border: 0.0625rem solid #C0C0C0;
	margin-bottom: 0.625rem;
}

tfoot.no-results-found td div {
	height: 100%;
	position: relative;
	width: 0;
}

tfoot.no-results-found td div span {
	position: absolute;
	white-space: nowrap;
	padding-top: 0.125rem;
}
.static-info-text .funfact{
	display: none;
}

.static-info-text .label{
	font-weight: normal;
	text-align: center;
	color: #37474f;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	background-color: #f1f3f5;
	margin-bottom: 0.625rem;
}
.stats-table tr.light-highlight td{
	background-color: #dee4ea;
}

.result-header{
	font-size: 0.75rem;
	text-align: center;
	color: #78909c;
	text-transform: uppercase;
    background: #CFD8DC;
    padding: 0.375rem;
}

/* flags */
.fl_1{
	background: url('/res/images/flags/4x3/1.svg');
}
.fl_2{
	background: url('/res/images/flags/4x3/2.svg');
}
.fl_3{
	background: url('/res/images/flags/4x3/3.svg');
}
.fl_5{
	background: url('/res/images/flags/4x3/5.svg');
}
.fl_6{
	background: url('/res/images/flags/4x3/6.svg');
}
.fl_7{
	background: url('/res/images/flags/4x3/7.svg');
}
.fl_8{
	background: url('/res/images/flags/4x3/8.svg');
}
.fl_12{
	background: url('/res/images/flags/4x3/12.svg');
}
.fl_16{
	background: url('/res/images/flags/4x3/af.svg');
}
.fl_17{
	background: url('/res/images/flags/4x3/al.svg');
}
.fl_18{
	background: url('/res/images/flags/4x3/dz.svg');
}
.fl_19{
	background: url('/res/images/flags/4x3/ad.svg');
}
.fl_20{
	background: url('/res/images/flags/4x3/ao.svg');
}
.fl_21{
	background: url('/res/images/flags/4x3/ag.svg');
}
.fl_22{
	background: url('/res/images/flags/4x3/ar.svg');
}
.fl_23{
	background: url('/res/images/flags/4x3/am.svg');
}
.fl_24{
	background: url('/res/images/flags/4x3/au.svg');
}
.fl_25{
	background: url('/res/images/flags/4x3/at.svg');
}
.fl_26{
	background: url('/res/images/flags/4x3/az.svg');
}
.fl_27{
	background: url('/res/images/flags/4x3/bs.svg');
}
.fl_28{
	background: url('/res/images/flags/4x3/bh.svg');
}
.fl_29{
	background: url('/res/images/flags/4x3/bd.svg');
}
.fl_30{
	background: url('/res/images/flags/4x3/bb.svg');
}
.fl_31{
	background: url('/res/images/flags/4x3/by.svg');
}
.fl_32{
	background: url('/res/images/flags/4x3/be.svg');
}
.fl_33{
	background: url('/res/images/flags/4x3/bz.svg');
}
.fl_34{
	background: url('/res/images/flags/4x3/bj.svg');
}
.fl_35{
	background: url('/res/images/flags/4x3/bt.svg');
}
.fl_36{
	background: url('/res/images/flags/4x3/bo.svg');
}
.fl_37{
	background: url('/res/images/flags/4x3/ba.svg');
}
.fl_38{
	background: url('/res/images/flags/4x3/bw.svg');
}
.fl_39{
	background: url('/res/images/flags/4x3/br.svg');
}
.fl_40{
	background: url('/res/images/flags/4x3/bn.svg');
}
.fl_41{
	background: url('/res/images/flags/4x3/bg.svg');
}
.fl_42{
	background: url('/res/images/flags/4x3/bf.svg');
}
.fl_43{
	background: url('/res/images/flags/4x3/mm.svg');
}
.fl_44{
	background: url('/res/images/flags/4x3/bi.svg');
}
.fl_45{
	background: url('/res/images/flags/4x3/kh.svg');
}
.fl_46{
	background: url('/res/images/flags/4x3/cm.svg');
}
.fl_47{
	background: url('/res/images/flags/4x3/ca.svg');
}
.fl_48{
	background: url('/res/images/flags/4x3/cv.svg');
}
.fl_49{
	background: url('/res/images/flags/4x3/cf.svg');
}
.fl_50{
	background: url('/res/images/flags/4x3/td.svg');
}
.fl_51{
	background: url('/res/images/flags/4x3/cl.svg');
}
.fl_52{
	background: url('/res/images/flags/4x3/cn.svg');
}
.fl_53{
	background: url('/res/images/flags/4x3/co.svg');
}
.fl_54{
	background: url('/res/images/flags/4x3/km.svg');
}
.fl_55{
	background: url('/res/images/flags/4x3/cg.svg');
}
.fl_56{
	background: url('/res/images/flags/4x3/cd.svg');
}
.fl_57{
	background: url('/res/images/flags/4x3/cr.svg');
}
.fl_58{
	background: url('/res/images/flags/4x3/ci.svg');
}
.fl_59{
	background: url('/res/images/flags/4x3/hr.svg');
}
.fl_60{
	background: url('/res/images/flags/4x3/cu.svg');
}
.fl_61{
	background: url('/res/images/flags/4x3/cy.svg');
}
.fl_62{
	background: url('/res/images/flags/4x3/cz.svg');
}
.fl_63{
	background: url('/res/images/flags/4x3/dk.svg');
}
.fl_64{
	background: url('/res/images/flags/4x3/dj.svg');
}
.fl_65{
	background: url('/res/images/flags/4x3/dm.svg');
}
.fl_66{
	background: url('/res/images/flags/4x3/do.svg');
}
.fl_67{
	background: url('/res/images/flags/4x3/tl.svg');
}
.fl_68{
	background: url('/res/images/flags/4x3/ec.svg');
}
.fl_69{
	background: url('/res/images/flags/4x3/eg.svg');
}
.fl_70{
	background: url('/res/images/flags/4x3/sv.svg');
}
.fl_71{
	background: url('/res/images/flags/4x3/gq.svg');
}
.fl_72{
	background: url('/res/images/flags/4x3/er.svg');
}
.fl_73{
	background: url('/res/images/flags/4x3/ee.svg');
}
.fl_74{
	background: url('/res/images/flags/4x3/et.svg');
}
.fl_75{
	background: url('/res/images/flags/4x3/fj.svg');
}
.fl_76{
	background: url('/res/images/flags/4x3/fi.svg');
}
.fl_77{
	background: url('/res/images/flags/4x3/fr.svg');
}
.fl_78{
	background: url('/res/images/flags/4x3/ga.svg');
}
.fl_79{
	background: url('/res/images/flags/4x3/gm.svg');
}
.fl_80{
	background: url('/res/images/flags/4x3/ge.svg');
}
.fl_81{
	background: url('/res/images/flags/4x3/de.svg');
}
.fl_82{
	background: url('/res/images/flags/4x3/gh.svg');
}
.fl_83{
	background: url('/res/images/flags/4x3/gr.svg');
}
.fl_84{
	background: url('/res/images/flags/4x3/gd.svg');
}
.fl_85{
	background: url('/res/images/flags/4x3/gt.svg');
}
.fl_86{
	background: url('/res/images/flags/4x3/gn.svg');
}
.fl_87{
	background: url('/res/images/flags/4x3/gw.svg');
}
.fl_88{
	background: url('/res/images/flags/4x3/gy.svg');
}
.fl_89{
	background: url('/res/images/flags/4x3/ht.svg');
}
.fl_90{
	background: url('/res/images/flags/4x3/hn.svg');
}
.fl_91{
	background: url('/res/images/flags/4x3/hu.svg');
}
.fl_92{
	background: url('/res/images/flags/4x3/is.svg');
}
.fl_93{
	background: url('/res/images/flags/4x3/in.svg');
}
.fl_94{
	background: url('/res/images/flags/4x3/ir.svg');
}
.fl_95{
	background: url('/res/images/flags/4x3/iq.svg');
}
.fl_96{
	background: url('/res/images/flags/4x3/ie.svg');
}
.fl_97{
	background: url('/res/images/flags/4x3/il.svg');
}
.fl_98{
	background: url('/res/images/flags/4x3/it.svg');
}
.fl_99{
	background: url('/res/images/flags/4x3/jm.svg');
}
.fl_100{
	background: url('/res/images/flags/4x3/jp.svg');
}
.fl_101{
	background: url('/res/images/flags/4x3/jo.svg');
}
.fl_102{
	background: url('/res/images/flags/4x3/kz.svg');
}
.fl_103{
	background: url('/res/images/flags/4x3/ke.svg');
}
.fl_104{
	background: url('/res/images/flags/4x3/ki.svg');
}
.fl_105{
	background: url('/res/images/flags/4x3/kp.svg');
}
.fl_106{
	background: url('/res/images/flags/4x3/kr.svg');
}
.fl_107{
	background: url('/res/images/flags/4x3/kw.svg');
}
.fl_108{
	background: url('/res/images/flags/4x3/kg.svg');
}
.fl_109{
	background: url('/res/images/flags/4x3/la.svg');
}
.fl_110{
	background: url('/res/images/flags/4x3/lv.svg');
}
.fl_111{
	background: url('/res/images/flags/4x3/lb.svg');
}
.fl_112{
	background: url('/res/images/flags/4x3/ls.svg');
}
.fl_113{
	background: url('/res/images/flags/4x3/lr.svg');
}
.fl_114{
	background: url('/res/images/flags/4x3/ly.svg');
}
.fl_115{
	background: url('/res/images/flags/4x3/li.svg');
}
.fl_116{
	background: url('/res/images/flags/4x3/lt.svg');
}
.fl_117{
	background: url('/res/images/flags/4x3/lu.svg');
}
.fl_118{
	background: url('/res/images/flags/4x3/mk.svg');
}
.fl_119{
	background: url('/res/images/flags/4x3/mg.svg');
}
.fl_120{
	background: url('/res/images/flags/4x3/mw.svg');
}
.fl_121{
	background: url('/res/images/flags/4x3/my.svg');
}
.fl_122{
	background: url('/res/images/flags/4x3/mv.svg');
}
.fl_123{
	background: url('/res/images/flags/4x3/ml.svg');
}
.fl_124{
	background: url('/res/images/flags/4x3/mt.svg');
}
.fl_125{
	background: url('/res/images/flags/4x3/mh.svg');
}
.fl_126{
	background: url('/res/images/flags/4x3/mr.svg');
}
.fl_127{
	background: url('/res/images/flags/4x3/mu.svg');
}
.fl_128{
	background: url('/res/images/flags/4x3/mx.svg');
}
.fl_129{
	background: url('/res/images/flags/4x3/fm.svg');
}
.fl_130{
	background: url('/res/images/flags/4x3/md.svg');
}
.fl_131{
	background: url('/res/images/flags/4x3/mc.svg');
}
.fl_132{
	background: url('/res/images/flags/4x3/mn.svg');
}
.fl_133{
	background: url('/res/images/flags/4x3/me.svg');
}
.fl_134{
	background: url('/res/images/flags/4x3/ma.svg');
}
.fl_135{
	background: url('/res/images/flags/4x3/mz.svg');
}
.fl_136{
	background: url('/res/images/flags/4x3/na.svg');
}
.fl_137{
	background: url('/res/images/flags/4x3/nr.svg');
}
.fl_138{
	background: url('/res/images/flags/4x3/np.svg');
}
.fl_139{
	background: url('/res/images/flags/4x3/nl.svg');
}
.fl_140{
	background: url('/res/images/flags/4x3/nz.svg');
}
.fl_141{
	background: url('/res/images/flags/4x3/ni.svg');
}
.fl_142{
	background: url('/res/images/flags/4x3/ne.svg');
}
.fl_143{
	background: url('/res/images/flags/4x3/ng.svg');
}
.fl_144{
	background: url('/res/images/flags/4x3/144.svg');
}
.fl_145{
	background: url('/res/images/flags/4x3/no.svg');
}
.fl_146{
	background: url('/res/images/flags/4x3/om.svg');
}
.fl_147{
	background: url('/res/images/flags/4x3/pk.svg');
}
.fl_148{
	background: url('/res/images/flags/4x3/pw.svg');
}
.fl_149{
	background: url('/res/images/flags/4x3/pa.svg');
}
.fl_150{
	background: url('/res/images/flags/4x3/pg.svg');
}
.fl_151{
	background: url('/res/images/flags/4x3/py.svg');
}
.fl_152{
	background: url('/res/images/flags/4x3/pe.svg');
}
.fl_153{
	background: url('/res/images/flags/4x3/ph.svg');
}
.fl_154{
	background: url('/res/images/flags/4x3/pl.svg');
}
.fl_155{
	background: url('/res/images/flags/4x3/pt.svg');
}
.fl_156{
	background: url('/res/images/flags/4x3/qa.svg');
}
.fl_157{
	background: url('/res/images/flags/4x3/ro.svg');
}
.fl_158{
	background: url('/res/images/flags/4x3/ru.svg');
}
.fl_159{
	background: url('/res/images/flags/4x3/rw.svg');
}
.fl_160{
	background: url('/res/images/flags/4x3/kn.svg');
}
.fl_161{
	background: url('/res/images/flags/4x3/vc.svg');
}
.fl_162{
	background: url('/res/images/flags/4x3/ws.svg');
}
.fl_163{
	background: url('/res/images/flags/4x3/sm.svg');
}
.fl_164{
	background: url('/res/images/flags/4x3/st.svg');
}
.fl_165{
	background: url('/res/images/flags/4x3/sa.svg');
}
.fl_166{
	background: url('/res/images/flags/4x3/sn.svg');
}
.fl_167{
	background: url('/res/images/flags/4x3/rs.svg');
}
.fl_168{
	background: url('/res/images/flags/4x3/sc.svg');
}
.fl_169{
	background: url('/res/images/flags/4x3/sl.svg');
}
.fl_170{
	background: url('/res/images/flags/4x3/sg.svg');
}
.fl_171{
	background: url('/res/images/flags/4x3/sk.svg');
}
.fl_172{
	background: url('/res/images/flags/4x3/si.svg');
}
.fl_173{
	background: url('/res/images/flags/4x3/sb.svg');
}
.fl_174{
	background: url('/res/images/flags/4x3/so.svg');
}
.fl_175{
	background: url('/res/images/flags/4x3/za.svg');
}
.fl_176{
	background: url('/res/images/flags/4x3/es.svg');
}
.fl_177{
	background: url('/res/images/flags/4x3/lk.svg');
}
.fl_178{
	background: url('/res/images/flags/4x3/sd.svg');
}
.fl_179{
	background: url('/res/images/flags/4x3/sr.svg');
}
.fl_180{
	background: url('/res/images/flags/4x3/sz.svg');
}
.fl_181{
	background: url('/res/images/flags/4x3/se.svg');
}
.fl_182{
	background: url('/res/images/flags/4x3/ch.svg');
}
.fl_183{
	background: url('/res/images/flags/4x3/sy.svg');
}
.fl_184{
	background: url('/res/images/flags/4x3/tj.svg');
}
.fl_185{
	background: url('/res/images/flags/4x3/tz.svg');
}
.fl_186{
	background: url('/res/images/flags/4x3/th.svg');
}
.fl_187{
	background: url('/res/images/flags/4x3/tg.svg');
}
.fl_188{
	background: url('/res/images/flags/4x3/to.svg');
}
.fl_189{
	background: url('/res/images/flags/4x3/tt.svg');
}
.fl_190{
	background: url('/res/images/flags/4x3/tn.svg');
}
.fl_191{
	background: url('/res/images/flags/4x3/tr.svg');
}
.fl_192{
	background: url('/res/images/flags/4x3/tm.svg');
}
.fl_193{
	background: url('/res/images/flags/4x3/tv.svg');
}
.fl_194{
	background: url('/res/images/flags/4x3/ug.svg');
}
.fl_195{
	background: url('/res/images/flags/4x3/ua.svg');
}
.fl_196{
	background: url('/res/images/flags/4x3/ae.svg');
}
.fl_197{
	background: url('/res/images/flags/4x3/gb.svg');
}
.fl_198{
	background: url('/res/images/flags/4x3/198.svg');
}
.fl_199{
	background: url('/res/images/flags/4x3/199.svg');
}
.fl_200{
	background: url('/res/images/flags/4x3/us.svg');
}
.fl_201{
	background: url('/res/images/flags/4x3/uy.svg');
}
.fl_202{
	background: url('/res/images/flags/4x3/uz.svg');
}
.fl_203{
	background: url('/res/images/flags/4x3/vu.svg');
}
.fl_204{
	background: url('/res/images/flags/4x3/va.svg');
}
.fl_205{
	background: url('/res/images/flags/4x3/ve.svg');
}
.fl_206{
	background: url('/res/images/flags/4x3/vn.svg');
}
.fl_207{
	background: url('/res/images/flags/4x3/207.svg');
}
.fl_208{
	background: url('/res/images/flags/4x3/ye.svg');
}
.fl_209{
	background: url('/res/images/flags/4x3/zm.svg');
}
.fl_210{
	background: url('/res/images/flags/4x3/zw.svg');
}
.fl_212{
	background: url('/res/images/flags/4x3/xk.svg');
}
.fl_222{
	background: url('/res/images/flags/4x3/222.svg');
}
.fl_228{
	background: url('/res/images/flags/4x3/id.svg');
}
.fl_234{
	background: url('/res/images/flags/4x3/ms.svg');
}
.fl_290{
	background: url('/res/images/flags/4x3/290.svg');
}
.fl_292{
	background: url('/res/images/flags/4x3/292.svg');
}
.fl_300{
	background: url('/res/images/flags/4x3/cw.svg');
}
.fl_450{
	background: url('/res/images/flags/4x3/450.svg');
}
.fl_471{
	background: url('/res/images/flags/4x3/(CIS).svg');
}
.fl_482{
	background: url('/res/images/flags/4x3/lc.svg');
}
