/* Common {{{ */

.adsenvelope {
	margin: 0 auto;
	padding-bottom: 10px;
	position: relative;
}

.adsenvelope iframe, .adsenvelope div {
	width: 100%;
	height: 100%;
}

.adstext {
	height: auto !important;
	position: absolute;
	left: 0;
	bottom: 6px;
	text-align: center;
	color: #B0B0B0;
	font-size: 10px;
}

.adstextpad {
	padding-bottom: 20px !important;
}

.adstextvpad {
	padding-right: 12px !important;
	padding-bottom: 0;
	margin-left: 0;
	float: left;
}

.adsclear {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

.adsclick {
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 99;
	left: 0; top: 0;
	background: white;
	opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; filter: alpha(opacity=0);
}

.adsclick img {
	display: none;
}

.adsinline
{
	text-align: center;
}

.adsinline-left,
.adsinline-right 
{
	position: absolute;
	width: 120px;
	top: 0;
}

.adsinline-left {
	left: 0;
}

.adsinline-right {
	right: 0;
}

/* }}} */

/* Zone styles {{{ */

#detail .adsenvelope {
	margin: 0 auto;
	padding-top: 10px;
}

#lc .adsenvelope {
	margin: 0 auto;
}

.banx-content_bottom {
	margin-top: 10px;
}

.banx-traffic_code {
	width: 760px;
	margin-left: 0;
}

.adsgraphhori {
	position: absolute;
	width: 100%;
	height: 10px !important;
	margin-top: 3px;
	text-align: center;
}

.adsgraphhori a {
	display: block;
	width: 100%; height: 100%;
}

.adsghori {
	width: 100%;
	height: 100%;
	background: url('/gres/images/icon-adverth.gif?serial=2005251124') no-repeat 50% 0;
}

.adsgraphvert {
	position: absolute;
	right: 0;
	top: 0;
	width: 10px !important;
	margin-bottom: 10px;
}

.adsgraphvert a {
	display: block;
	width: 100%; height: 100%;
}

.adsgvert {
	width: 100%;
	height: 100%;
	background: url('/gres/images/icon-advertv.gif?serial=2005251124') no-repeat 0 50%;
}

.ath-cs, .ath-sk, .ath-pl { background-position: 50% -17px }
.ath-de { background-position: 50% -34px }
.ath-it { background-position: 50% -51px }
.ath-da { background-position: 50% -68px }
.ath-ro { background-position: 50% -85px }
.ath-tr { background-position: 50% -102px }
.ath-ru { background-position: 50% -119px }
.ath-es { background-position: 50% -136px }
.ath-es { background-position: 50% -136px }
.ath-hr { background-position: 50% -153px }
.ath-hu { background-position: 50% -170px }
.ath-fr { background-position: 50% -187px }
.ath-fi { background-position: 50% -204px }
.ath-he { background-position: 50% -221px }
.ath-cn { background-position: 50% -238px }
.ath-el { background-position: 50% -255px }
.ath-pt { background-position: 50% -272px }
.ath-nl { background-position: 50% -289px }

.atv-cs, .atv-sk, .atv-pl { background-position: -17px 50% }
.atv-de { background-position: -34px 50% }
.atv-it { background-position: -51px 50% }
.atv-da { background-position: -68px 50% }
.atv-ro { background-position: -85px 50% }
.atv-tr { background-position: -102px 50% }
.atv-ru { background-position: -119px 50% }
.atv-es { background-position: -136px 50% }
.atv-es { background-position: -136px 50% }
.atv-hr { background-position: -153px 50% }
.atv-hu { background-position: -170px 50% }
.atv-fr { background-position: -187px 50% }
.atv-fi { background-position: -204px 50% }
.atv-he { background-position: -221px 50% }
.atv-cn { background-position: -238px 50% }
.atv-el { background-position: -255px 50% }
.atv-pt { background-position: -272px 50% }
.atv-nl { background-position: -289px 50% }

/* }}} */

/* BE styles {{{ */
.adsenvelope {
	padding-bottom: 0;
}

#main .adsenvelope {
	padding-top: 10px;
}

.adstextvpad {
	margin-bottom: 5px;
	margin-left: 3px;
}
#myseladv1, #myseladv2, #myseladv3 {
	padding-left: 10px;
}

#myseladv1 .adsenvelope, #myseladv2 .adsenvelope, #myseladv3 .adsenvelope {
	margin-left: 0;
	margin-right: auto;
}

#myseladv1 .adstext, #myseladv2 .adstext, #myseladv3 .adstext {
	width: 160px;
}

#myseladv1 .adstext, #myseladv2 .adstext, #myseladv3 .adstext {
	background-position: 50% -15px;
}
/* }}} */

/* styles for new BE {{{ */
.adstextvpad {
	margin: 0 auto;
	float: none;
}
.adstextpad {
	padding-bottom: 10px !important;
}
.adsgraphvert {
	right: -10px;
}
/* }}} */





.banx-top_desktop,
.banx-under_mobile,
.banx-rs1_desktop, .banx-rs2_desktop, .banx-rs1_tablet, .banx-rs2_tablet, .banx-rs1_mobile, .banx-rs2_mobile {
	margin-bottom: 10px;
}

.banx-top_mobile {
	padding-top: 10px;
	margin-bottom: 10px;
}

.table-main .banx-rs1_desktop, .table-main .banx-rs2_desktop, .table-main .banx-rs1_tablet, .table-main .banx-rs2_tablet, .table-main .banx-rs1_mobile, .table-main .banx-rs2_mobile {
	margin-bottom: 0;
}

.streaks-banner .adsenvelope {
	margin-top: 15px;
	margin-bottom: 15px;
}

.table-main__banner .adsenvelope {
	margin-top: 5px;
	margin-bottom: 5px;
}
